/*
Theme Name: PageBuilderly
Theme URI: https://superbthemes.com/pagebuilderly/pagebuilderly-info/
Author: ThemeEverest
Author URI: http://superbthemes.com/
Description: PageBuilderly is a responsive landing page and one page WordPress theme. The theme is best described as a multi-purpose theme, it works for businesses, blogs, journalists, authors, newspapers, products, apps, etc. The theme is primarily a business / corporate theme, due to that we implemented Beaver Lite Pagebuilder in the theme which can be found in the plugin section. This WordPress theme comes with a simple blog/news layout where you can write about anything from food, travel, fashion, lifestyle, reviews, products, or other entertainment niches. The theme is simple to set up but has a lot of features for affiliate marketing, i.e. lots of advertisement space for affiliate programs such as Google AdSense - of course, this kind of website requires an SEO-optimized, creative & modern theme, which Pagebuilderly is. Photography images look awesome in the theme, so it's a great portfolio theme, just like it works great for 1-page websites. To sum it up the theme is responsive so it works on all types of phones, tablets, and desktop computers. And yes, it's completed SEO Optimised (search engine optimization) of course.
Version: 3.7
Tested up to: 6.0
Requires PHP: 4.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: pagebuilderly
Tags: theme-options, threaded-comments, translation-ready, sticky-post, footer-widgets, custom-background, custom-colors, custom-header, custom-logo, custom-menu, featured-image-header, featured-images, flexible-header, right-sidebar, one-column, two-columns, news, entertainment, blog

*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
	## Logo
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
# Responsive
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}
a {text-decoration:underline;}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

table {
	width: 100%;
	border: 1px solid #f1f1f1;
	border-collapse: collapse;
	border-spacing: 0;
}
table caption{
	margin-bottom: 5px;
}
table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
	border: 1px solid #f1f1f1;
	line-height: 1.3;
	padding: 8px;
	vertical-align: middle;
	text-align: center;
}

table > thead > tr > th, table > thead > tr > td {
	border-bottom-width: 2px;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body{
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	color: #484848;
	line-height: 1.625;
}
button,
input,
select,
textarea {
	color: #404040;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	line-height: 1.5;
}
h1,h2,h3,h4,h5,h6, #nav-wrapper .menu li a, .feat-more, .cat, .post-share .post-share-comments,
.about-title, #footer-social a, .more-link, .post-comments span.reply a, .widget .tagcloud a,
.pagination a , .post-tags a, .slicknav_nav a  {
	font-family:'Lato', sans-serif;
}
textarea:focus, input:focus{
	outline: none;
}

.page header.entry-header {
	margin-bottom:0;
	text-align:left;
	letter-spacing:0;
}

.page .entry-header h1.entry-title {
	letter-spacing:0;
}
.page .entry-content p:first-of-type {
	margin-top:0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-family: 'Lato', sans-serif;
	margin:10px 0;
	font-weight:400;
	color:#000;
}
h1 {
	font-size:32px;
}
h2 {
	font-size:26px;
}
h3 {
	font-size:24px;
}
h4 {
	font-size:22px;
}
h5 {
	font-size:20px;
}
h6 {
	font-size:18px;
}
p {
	margin-bottom: 1.5em;
	line-height: 28px;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
}

blockquote:before,
blockquote:after{
	content: "";
}

blockquote{
	quotes: "" "";
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

ol {
	list-style: none;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button, input[type="button"], input[type="reset"], input[type="submit"] {
	border: 1px solid;
	font-size: 13px;
	background: #fff;
	padding: 5px 20px;
}
label {
	display: inline-block;
	float: left;
}
.post-password-form input[type="submit"] {
	margin-left: -4px;
	padding: 8px 20px;
	font-weight: 900;
	background: #000;
	color: #fff;
	border: 1px solid #000;
	margin-top: 0px;
	display: inline-block;
	padding-bottom: 7px;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #000;
	padding: 6px;
	display: inline-block;
	line-height: 150%;
}

select {
	border: 1px solid #ccc;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

textarea {
	width: 100%;
}
.blog-feed-post-wrapper p {
	color: #9c9c9c;
	font-weight: 300;
	font-size: 15px;
	line-height: 150%;
	font-family: 'Lato', sans-serif;
}
.blog-feed-post-wrapper .blog-feed-meta * {
	color: #b5b5b5;
	font-size: 14px;
	text-decoration: none;
	text-transform: none;
	font-style: normal;
	letter-spacing: 0px;
	font-style: italic;
}
.entry-more a {

}
/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: #000;
}

a:hover,
a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
}
.blog-feed-category a {
	color: #cea525;
	font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: 600;
	text-decoration: none;
}
.blog-feed-category a:first-of-type:before {
	content:'';
}
.blog-feed-category a:before {
	content:'/ ';
}
.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation li {
	float: left;
	position: relative;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}
button.menu-toggle {
	background-color: transparent;
}
.main-navigation ul ul {
	float: left;
	position: absolute;
	top: 1.5em;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul ul li {

}

.main-navigation li:hover > a,
.main-navigation li.focus > a {
}
.header-widgets p,
.header-widgets,
.header-widgets a, 
.header-widgets a, 
.header-widgets .menu li a, 
.header-widgets h3 {
	color:#fff;
}
.main-navigation ul ul :hover > a,
.main-navigation ul ul .focus > a {
}

.main-navigation ul ul a:hover,
.main-navigation ul ul a.focus {
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current-menu-ancestor > a {
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}
.container {
	width: 900px;
	margin: 0 auto;
}
div#content {
	padding-top: 10px;
}
.top-nav{
	display: block;
	position: relative;
}
nav#site-navigation {
	background: #302f37;
	height: 51px;
	position: fixed;
	z-index: 9999;
	width: 100%;
	-webkit-backface-visibility: hidden;
}
.menu li {
	display: inline-block;
	margin-right: 22px;
	position: relative;
}
.menu li a{
	color: #fff;
	line-height: 50px;
	font-size: 13px;
	font-weight: 600;
	display: block;
	-o-transition: .25s;
	-ms-transition: .25s;
	-moz-transition: .25s;
	-webkit-transition: .25s;
	transition: .25s;
}
#site-navigation .menu li a:hover {
	color:#fff;
	opacity:1;
}
#site-navigation .menu > li.menu-item-has-children > a:after {
	font-family: FontAwesome;
	content: "\f107";
	margin-left: 7px;
	color: #999;
	font-size: 13px;
}
.m_menu_icon {
	display: block;
	width: 20px;
	height: 2px;
	background-color: #fff;
}
.menu-toggle .m_menu_icon + .m_menu_icon {
	margin-top: 4px;
}

/* Dropdown **********/
#site-navigation .menu .sub-menu,
#site-navigation .menu .children {
	background-color: #302f37;
	display: none;
	padding: 0;
	position: absolute;
	margin-top:0;
	left: 0;
	top: 50px;
	z-index: 99999;
	border-radius: 3px;
}

#site-navigation ul.menu ul a,
#site-navigation .menu ul ul a {
	color: #fff;
	margin: 0;
	font-size: 12px;
	letter-spacing: 1px;
	padding: 10px 15px;
	min-width: 175px;
	line-height: 20px;
	opacity: 1;
	font-weight:500;
	font-weight: 300;
}

#site-navigation ul.menu ul li,
#site-navigation .menu ul ul li {
	padding-right:0;
	margin-right:0;
}

#site-navigation ul.menu ul a:hover,
#site-navigation .menu ul ul a:hover {
	color: #fff;
}

#site-navigation ul.menu li:hover > ul,
#site-navigation .menu ul li:hover > ul {
	display: block;
}

#site-navigation .menu .sub-menu ul,
#site-navigation .menu .children ul {	
	left: 100%;
	top: 0;

}
.search-results h1 span {
	font-weight: 300;
}
.show-search {
	display: none;
	position: absolute;
	top: 50px;
	right: 0px;
	z-index: 999;
}
.show-search input.search-field {
	width: 190px;
	background: #FFF;
	webkit-box-shadow: 0 8px 6px -6px rgba(206,206,206,.2);
	-moz-box-shadow: 0 8px 6px -6px rgba(206,206,206,.2);
	box-shadow: 0 8px 6px -6px rgba(206,206,206,.2);
	padding: 10px 14px;
	font-size: 11px;
	color: #999;
	letter-spacing: 1px;
	border: 1px solid #e5e5e5;
	border-radius: 0;
}
.show-search input.search-submit{
	display: none;
}
div#top-search {
	float: right;
	height: 50px;
	text-align: center;
	width: 45px;
	font-size: 14px;
	line-height: 50px;
	display: block;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
div#top-search:hover a{
	color:#fff;
}
div#top-search a{
	color: #fff;
	-o-transition:.25s;
	-ms-transition:.25s;
	-moz-transition:.25s;
	-webkit-transition:.25s;
	transition:.25s;
}

#top-social {
	position: absolute;
	right: 0px;
	top: 0;
}
#top-social a{
	color: #fff;
	margin-left: 10px;
	font-size: 14px;
	line-height: 50px;
	display: inline-block;
	-o-transition: .25s;
	-ms-transition: .25s;
	-moz-transition: .25s;
	-webkit-transition: .25s;
	transition: .25s;
}
#top-social a:hover {
	color:#fff;
}

@media screen and (min-width: 769px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}

}
.comment-respond a#cancel-comment-reply-link {
	display: block;
	color: #616161;
}
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
	display: inline-block;
	float: left;
	width: 100%;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
## Logo
--------------------------------------------------------------*/

h1.site-title{
	font-size: 48px;
	font-family: 'Lato', sans-serif;
	font-weight: lighter;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
}
h1.site-title a{
	color: #131313;
}

header#masthead {
	background-color: #333;
	background-size: cover;
	background-position: top;
}

header.site-header {
	margin-bottom: 35px;
}
a.custom-logo-link {
	width: 100%;
	text-align: center;
	display: inline-block;
	margin-bottom: 10px;
}
.site-title {
	color: #fff;
	font-weight: 400;
	font-size: 45px;
	line-height: 130%;
	display: inline-block;
	width: 100%;
	padding: 0px 10px;
}
p.site-description {
	color: #ffffff;
	font-size: 20px;
	font-weight: 300;
	margin-top: 10px;
	line-height: 150%;
	margin: 10px 0;
	padding: 0px 10px;
}
.button-divider {
	margin: 20px auto 25px auto;
	display: block;
	background-color: rgba(255, 255, 255, 0.55);
	height: 1px;
	content: ' ';
	max-width: 100px;
}
.header-button {
	font-size: 15px;
	color: #fff;
	letter-spacing: 0;
	font-weight: 400;
	border: 1px solid #fff;
	padding: 10px 35px;
	text-decoration:none;
	display: inline-block;
	margin:30px 10px 0 10px;
}
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}
.widget-title {
	background:#000;
	text-align:center;
	color:#fff;
	padding:13px 0;
	font-size:11px;
	text-transform:uppercase;
	letter-spacing:1px;
	position: relative;
	margin-bottom:25px;
}
.widget h3{
	font-size: 16px;
}
.screen-reader-text {display:none !important;}
.screen-reader-text {opacity:0;}
.widget .search-field{
	border-radius: 0px;
	font-size: 14px;
	margin: 0 0 10px;
	padding: 4px 12px;
}
.widget input[type="submit"] {
	background: transparent;
	border: 1px solid #ccc;
	font-size: 14px;
}
.widget ul, .widget ol{
	margin: 5px;
	padding-left: 5px;
}
.widget_recent_entries li a, .widget_archive li a{
	color: #424243;
	font-size: 14px;
}
.widget .tagcloud a {
	font-family:'Lato', sans-serif;
	font-size: 10px !important;
	letter-spacing:1px;
	text-transform:uppercase;
	background:#f2f2f2;
	color:#666;
	padding: 4px 7px;
	margin-right:5px;
	margin-bottom: 8px;
	display:inline-block;
	border-radius:2px;
}
.widget .tagcloud a:hover {
	background:#000;
	color:#fff;
	text-decoration: none;
}

.widget p {
	font-size:13px;
	line-height:22px;
}
.widget a:hover {
	text-decoration:underline;
}
.widget ul li {
	margin-bottom:9px;
	padding-bottom:9px;
	list-style: none;
	border-bottom:1px dotted #d5d5d5;
}
.widget ul li:last-child {
	margin-bottom:0;
	padding-bottom:0;
	border-bottom:none;
}
.widget ul li a {
	color:#242424;
}
.widget img {
	max-width:100%;
	height:auto;
}
.widget .screen-reader-text {
	display:none;
}
/* Search Widget */
.search-form input.search-field {
	border: 1px solid #000;
	background:#fff;
	padding:14px 14px;
	font-size: 11px;
	letter-spacing: 0.75px;
	font-style:italic;
	color:#000;
	max-width:350px;
	width:100%;
}

.widget .search-form .search-field:focus { outline:none; }
.widget .search-form input.search-field { 
	width:100%;
	box-sizing:border-box;
}
.search-form .search-submit{ display: none; }

/* Instagram Widget **********/
.sidebar .instagram-pics {
	margin-left:-10px;
	overflow:hidden;
}
.sidebar .instagram-pics li {
	width: 30%;
	display: inline-block;
	border-bottom: none;
	padding: 0;
	margin: 0 0 10px 10px;
	float:left;
}
.sidebar .instagram-pics li img {
	max-width:100%;
	vertical-align:middle;
}
.sidebar .instagram-pics li img:hover {
	opacity:.87;
}
.sidebar .null-instagram-feed p.clear a{
	text-align: center;
	width: 100%;
	display: block;
	padding: 4px 0;
	border: 1px solid;
	text-transform: uppercase;
	box-sizing: border-box;
	font-size: 10px;
	letter-spacing: 0.75px;
	font-weight: 600;
}
.entry-header .entry-cate a:before {
	content: ' / ';
}
.entry-cate a {
	text-decoration:none !important;
}
.entry-header .entry-cate a:first-of-type:before {
	content: '';
}
.top-widget-grid {
	padding-bottom:30px;
	display: inline-block;
	float: left;
	width: 100%;
}
.top-widget-fullwidth {
	text-align: center;
	display: inline-block;
	float: left;
	width: 100%;
	font-size: 17px;
	color: #8e8e8e;
	padding-bottom:60px;
}
.top-widget-fullwidth .top-widgets p:last-of-type {
	margin-bottom:0px;
}
.top-widget-fullwidth a {
	text-decoration:none;
}
.top-widget-fullwidth h3 {
	font-size: 35px;
}
.top-widget-fullwidth .top-widgets:first-of-type h3 {
	margin-bottom:7px;
}
.top-widget-fullwidth h3:after {
	content: ' ';
	display: block;
	width: 60px;
	height: 2px;
	background: #000;
	margin: auto;
	margin-top: 7px;
}
.top-widget-fullwidth, .top-widget-fullwidth p {
	font-size: 17px;
	font-weight: 400;
	color: #8e8e8e;
}
.top-widget-wrapper {
	margin:0 0 50px 0;
	display: inline-block;
	float: left;
	width: 100%;
	border-bottom:1px solid rgba(51, 51, 51, 0.1);
	padding:20px 0 0px 0;
}
.blog-feed-meta .sticky-text {
	display: inline-block;
	color: #d9ab25;
}
.blog-feed-meta .sticky-text:before {
	content: ' | ';
	color: #b7b5b7;
	font-style: italic;
	font-size: 13px;
}

.search .top-widget-wrapper,
.error404 .top-widget-wrapper,
.archive .top-widget-wrapper{
	border-bottom:0px solid #fff;
}
.top-widget-single {
	display: inline-block;
	float: left;
	max-width: 32%;
	width: 100%;
	margin: 0px 0.5% 25px 0.5%;
	text-align: center;
	color: #989898;
	font-size:14px;
	padding: 0px 5px;
}
.top-widget-single h3 {
	font-size: 21px;
	color: #333;
}
.top-widget-single .top-widgets:first-of-type h3 {
	margin: 0 0 5px 0;
}
.top-widgets .search-form label {
	width:100%;
}
.top-widget-single p {
	font-size: 14px;
	color: #989898;
	line-height:150%;
	margin: 5px 0;
}
.top-widgets .menu li {
	margin: 0;
	float: left;
	width: 100%;
}
.top-widgets .search-form input.search-field {
	width:100%;
	max-width:100%;
}
.top-widgets .menu li a {
	color:#333;
}
.top-widgets .menu li a {
	line-height: 220%;
}
.top-widgets cite {
	margin-top:15px;
	display:block;
}
.top-widgets:first-of-type h3 {
	margin-top: 0px;
}
select {
	max-width: 100%;
}
.home.page h1.entry-title {
	text-align:center;
}
.footer-widgets-wrapper {
	display: inline-block;
	float: left;
	width: 100%;
	background:#302f37;
	padding:30px 0 0 0;
}
.page .comments-area {
	border-top:1px solid rgba(0, 0, 0, 0.11);
}
.top-widgets .menu li {
	background:rgba(0,0,0,0) !important;
}

.footer-widgets .menu li {
	background:rgba(0,0,0,0) !important;
}
.footer-widgets caption {
	text-align:left;
}
.footer-widgets li {
	margin: 5px 0px;
}
.footer-widgets ul.children {
	margin-left: 10px;
}
.calendar_wrap {
	overflow: auto;
}
.footer-widget-single {
	display: inline-block;
	float: left;
	max-width: 30%;
	color:#cacaca;
	width: 100%;
	text-align: left;
	padding:0px;
	font-weight:300;
}
.footer-widget-middle {
	margin: 0px 4%;
}
.footer-widget-single h3 {
	font-size: 19px;
	color: #fff;
	margin: 0 0 5px 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}
.footer-widgets {
	margin-bottom: 30px;
	display: inline-block;
	float: left;
	width: 100%;
	font-size: 14px;
}
.footer-widgets .tagcloud a {
	margin: 5px;
}
.footer-widgets span.rss-date {
	margin-bottom: 5px;
	display: inline-block;
}

.footer-widgets a.rsswidget {
	margin-top: 20px;
	display: inline-block;
}
.footer-widget-single p {
	font-size: 14px;
	color: rgba(255, 255, 255, 0.77);
	line-height: 150%;
	margin: 5px 0;
	font-weight: 300;
}
.footer-widgets .menu li a {
	line-height: 150%;
}
.footer-widgets .menu ul.sub-menu {
	margin-left: 10px;
}
.footer-widget-single a {
	font-size: 14px;
	text-decoration:none;
	color: #fff;
	line-height:150%;
	font-weight:400;
}
.footer-widgets .search-form label {
	width: 100%;
}
.footer-widgets .search-form input.search-field {
	width:100%;
	max-width:100%;
}
/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/


/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
header.entry-header {
	text-align: center;
	margin-bottom: 28px;
}
.entry-thumb img{
	width: 100%;
	height: auto;
}
section.content-area {
	min-height: 480px;
}
main#main{
	width: 740px;
	margin-right: 30px;
	float: left;
	margin-bottom: 35px;
}
main.full-width{
	width: 100% !important;
	margin-right: 0px !important;
}
main.full-width .entry-thumb img{
	width: 100% !important;
}
aside.sidebar {
	float: right;
	width: 300px;
}
.title-divider {
	border-top: 2px solid;
	display: block;
	max-width: 55px;
	margin: 0 auto 12px;
	color: #000;
}
.entry-cate a {
	display: inline-block;
	color: #cea525;
	font-size: 13px;
	font-weight: 700;
	letter-spacing: 2px;
	text-decoration:none;
	text-transform: uppercase;
}
.single .entry-thumb {
	margin-bottom:20px;
}

h2.entry-title, h1.entry-title {
	font-size: 32px;
	letter-spacing: 2px;
	color: #000;
	font-weight: 600;
	line-height: 1.4em;
	-o-transition: .25s;
	-ms-transition: .25s;
	-moz-transition: .25s;
	-webkit-transition: .25s;
	transition: .25s;
	margin:10px auto;
}
h2.entry-title a, h1.entry-title a{
	color: #000;
	text-decoration:none;
}
h1.page-title {
	font-size: 24px;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding-top: 10px;
	font-weight: 400;
	text-align: center;
	border: 1px solid #ededed;
	border-left:0px solid #fff;
	border-right:0px solid #fff;
	padding: 15px 0;
	margin-bottom: 30px;
}
h2.entry-title a:hover, h1.entry-title a:hover{
	opacity: 0.8;
}
time.entry-date {
	font-family: 'Lato', sans-serif;
	font-size: 10px;
	font-style: italic;
	color: #939393;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-decoration:none;
}
.posted-on a {
	text-decoration:none !important;
}

article.post {
	margin-bottom: 55px;
	padding-bottom: 15px;
}
.entry-meta {
	margin-bottom: 25px;
}
.entry-content {
	margin-top: 0;
}
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}
.error-404 label {
	width: 100%;
	display: inline-block;
	text-align: center;
}
.error404 .page-content p {
	text-align: center;
}
.single .byline .author ,
.group-blog .byline .author {
	font-size: 14px;
	font-style: normal;
	margin-left: 5px;
}
.byline,
.updated:not(.published) {
	display: none;
}
.entry-tags {
	margin-top: 35px;
}
.entry-tags a{
	font-family: 'Lato', sans-serif;
	font-size: 10px;
	letter-spacing: 2px;
	text-transform: uppercase;
	background: #f2f2f2;
	color: #666;
	padding: 6px 10px;
	margin-right: 6px;
	border-radius: 2px;
	margin-bottom: 5px;
	display: inline-block;
	text-decoration:none !important;
}
.single-post .entry-tags a, .page .entry-tags a {
	color:#666 !important;
}
.single-post .entry-tags a:hover, .page .single-post .entry-tags a:hover {
	color:#fff !important;

}
.entry-tags a:hover {
	background:#333;
	color:#fff;
	border:none;
	border-radius: 0px;
	text-decoration:none;
}
.blog .entry-content, .blog .entry-content p:first-of-type {
	margin-top:0;
}
.blog .entry-thumb img {
	margin-bottom:15px;
}
.blog .entry-content p {
	margin-bottom: 1.5em;
	line-height: 170%;
	font-size: 15px;
}
.page-content,
.entry-content,
.entry-summary {
	margin: 1em 0 0;
}
.entry-share {
	text-align: center;
	margin-top: 38px;
	height: 54px;
	line-height: 54px;
	border-top: 1px dotted #e5e5e5;
	border-bottom: 1px dotted #e5e5e5;
}
.entry-share .share-box {
	width: 35px;
	height: 35px;
	background: #fff;
	display: inline-block;
	line-height: 35px;
	-o-transition: .3s;
	-ms-transition: .3s;
	-moz-transition: .3s;
	-webkit-transition: .3s;
}
.entry-share .share-box:hover {
	opacity: 0.6;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
.nav-previous, .nav-next {
	font-family: 'Lato', sans-serif;
	letter-spacing: 1.75px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
}
.nav-previous a, .nav-next a {
	display: inline-block;
	color: #242424;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 600;
	-o-transition: .3s;
	text-decoration:none;
	-ms-transition: .3s;
	-moz-transition: .3s;
	-webkit-transition: .3s;
	transition: .3s;
}
.nav-previous a:hover, .nav-next a:hover {
	opacity: 0.8;
}
nav.navigation.posts-navigation {
	margin-bottom: 20px;
}

footer .site-info {
	text-align: center;
	color: #fff;
	font-size: 13px;
	margin-bottom: 0;
	letter-spacing: 1px;
	background: #302f37;
	padding: 20px 0;
	float: left;
	width: 100%;
	display: inline-block;
}
footer .site-info i.fa {
	color: #d55;
}
footer .site-info a{
	color: #fff;
}
footer .site-info a:hover{
	opacity: 0.8;
}
#footer-social {
	text-align: center;
	padding-bottom: 35px;
}
#footer-social a{
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 0 28px;
	-o-transition: .3s;
	-ms-transition: .3s;
	-moz-transition: .3s;
	-webkit-transition: .3s;
	transition: .3s;
}
#footer-social a:hover{
	opacity: 0.6;
}

/*** Instagram footer area ***/
#instagram-footer {
	text-align:center;
	overflow:hidden;
	position: relative;
}
.instagram-title {
	margin-bottom:20px;
	text-transform:uppercase;
	letter-spacing:1px;
	font-size:14px;
	font-weight: 500;
}
#instagram-footer .instagram-pics li {
	width:12.5%;
	display:inline;
	float:left;
}
#instagram-footer .instagram-pics li img {
	max-width:100%;
	vertical-align:middle;

}
#instagram-footer .instagram-pics li img:hover {
	opacity:.9;
}
#instagram-footer p.clear {
	font-size: 11px;
	border-bottom: 1px solid #eee;
	display: inline-block;
	margin-top: 5px;
}
#instagram-footer .null-instagram-feed .clear > a {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 10px;
	letter-spacing: 2px;
	display: block;
	background: #fff;
	color: #3c3c3c;
	padding: 8px 30px;
	position: absolute;
	left: 50%;
	top: 58%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
.blog #primary article.post, 
.search-results article,
.archive article  {
	border-bottom: 1px solid rgba(51, 51, 51, 0.1);
	padding-bottom: 50px;
	margin-bottom: 50px;
	float: left;
	display: inline-block;
	position: relative;
	width:100%;
}
.search-results article h1, .search-results article h2 {
	text-align:center;
}
.search .search-field{
	border-radius: 0px;
	font-size: 14px;
	margin: 0 0 10px;
	padding: 4px 12px;
}
.search-no-results .page-content p {
	text-align: center;
}
.search input[type="submit"] {
	background: transparent;
	border: 1px solid #ccc;
	font-size: 14px;
}
.search-no-results label {
	width: 100%;
	text-align: center;
}
/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
div#comments {
	padding-top: 35px;
}
.navigation.post-navigation {
	padding: 30px 5px;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
}
p.comment-form-author, p.comment-form-email, p.comment-form-url {
	width: 31%;
	float: left;
	margin:0px 1% 35px 1%;
}
p.comment-form-author input, p.comment-form-email input, p.comment-form-url input {
	max-width:100%;
	width:100%;
}
p.logged-in-as {
	margin:0px;
}
p.logged-in-as a {
	text-decoration:none;
}
#respond label {
	text-align:center;
	width:100%;
}
.comment-reply-title{
	font-size: 14px;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: 500;
	padding-bottom: 5px;
	display: inline-block;
	margin-bottom:0;
	padding-bottom:0;
	color: #353535;
}
ol.comment-list {
	padding: 0;
	margin-left: 15px;
}
#comments .comment-notes{
	color: #999;
	font-size: 14px;
	letter-spacing: 0.25px;
}
.comment-form label{
	color: #999;
	font-size: 14px;
	margin-right: 10px;
}
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}
.comment-form input.submit {
	font-family: "Lato";
	text-transform: uppercase;
	letter-spacing: 2px;
	border-radius: 0;
	font-size: 12px;
	color: #000;
	padding: 15px 25px;
	margin-top: 6px;
	display: inline-block;
	border: none;
	-o-transition: .3s;
	-ms-transition: .3s;
	-moz-transition: .3s;
	-webkit-transition: .3s;
	transition: .3s;
	cursor: pointer;
	width: auto;
	background-color: transparent;
	border: 1px solid #000;
	margin-bottom: 30px;
}

p.form-submit {
	text-align: center;
	margin-bottom:0;
}
div#respond {
	text-align: center;
}

.comment-form input.submit:hover {
	background:#000;
	color:#FFF;
	border: 1px solid #000;
}
.noheader-margins {
	height:50px; 
	display:inline-block;
	width:100%;
	float:left;
}
.comments-title{
	font-size: 14px;
	letter-spacing: 1.25px;
	text-transform: uppercase;
	margin-bottom: 35px;
	font-weight: 500;
	padding-bottom: 5px;
	display: block;
	text-align: center;
	color: #505050;
}
.comment .says{
	display: none;
}
.comment-author .avatar {
	float: left;
	margin-right: 10px;
	width: 40px;
	height: 40px;
	border-radius:50%;
}
.entry-footer a  {
	margin-right:10px;
	text-decoration:none !important;
}
.comment-author a, a.comment-edit-link, .comment-metadata a, li.comment .reply a, .comment-respond a#cancel-comment-reply-link {
	text-decoration:none !important;
}
.comment-author .fn{
	text-transform: uppercase;
	color: #333;
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	font-size: 13px;
	letter-spacing: 0.75px;
}
.comment-metadata time{
	font-size: 12px;
	color: #999;
	font-style: italic;
	display: inline-block;
	margin-bottom: 10px;
	margin-right: 5px;
}
.comment-content {
	padding-left: 50px;
	font-size: 15px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.11);
	margin-bottom: 35px;
	padding-bottom:30px;
}
li.comment {
	position: relative;
}
li.comment .reply {
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 2px;
}
.comment-content p:last-of-type {
	margin-bottom: 0px;
}
.comment-content p:first-of-type {
	margin-top: 0px;
}

li.comment .reply a{
	color: #333;
	font-size: 10px;
	padding: 5px;
	text-transform: uppercase;
	font-family: Lato;
}
.comment-author .vcard a {
	text-decoration:none;
}
.comment-reply-title {
	font-size: 31px;
	color: #000;
	font-weight: 400;
	line-height: 1.4em;
	-o-transition: .25s;
	-ms-transition: .25s;
	-moz-transition: .25s;
	-webkit-transition: .25s;
	transition: .25s;
	margin: 0;
	text-transform: none;
	letter-spacing: 0;
}
.comments-title {
	font-size: 28px;
	text-transform: none;
	color: #333;
	margin-top: 0px;
	font-weight: 600;
}
.comments-title:after {
	display: block;
	max-width: 100px;
	content: ' ';
	margin: auto;
	height: 2px;
	background: #333;
	margin-top: 10px;
}
.comment-reply-title {
	font-size: 32px;
	letter-spacing: 2px;
	color: #000;
	font-weight: 400;
	line-height: 1.4em;
	-o-transition: .25s;
	-ms-transition: .25s;
	-moz-transition: .25s;
	-webkit-transition: .25s;
	transition: .25s;
	margin:10px auto;
}
p.comment-form-cookies-consent {
	float: none;
	width: auto;
	max-width:100%;
	margin-top: -15px;
	display:inline-block;
	margin:auto;
}
#respond .comment-form-cookies-consent label {
	width: auto;
	margin: 0;
	float: left;
	max-width: 100%;
	text-align: left;
	line-height: 120%;
	margin-top: 4px;
}
input#wp-comment-cookies-consent {
	float: left;
	margin-top: 7px;
	margin-right: 9px;
}
@media (max-width: 700px) {
	#respond .comment-form-cookies-consent label {
		max-width:90%;
	}
}
/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}
.error404 form.search-form {
	display: inline-block;
	float: left;
	width: 100%;
	margin-bottom: 50px;
}
.search-no-results .search-form input.search-field {
	margin-bottom:50px;
}
.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

.header-container {
	margin-top: 50px;
	padding: 60px 0;
	display: inline-block;
	float: left;
	width: 100%;
	max-width: 100%;
}
.header-content {
	display: inline-block;
	float: left;
	max-width: 50%;
	width: 100%;
	text-align:left;
}
.header-image {
	float:left;
	display:inline-block;
	width:100%;
	text-align:center;
	max-width:50%;
}
.header-image p, .header-image {
	color:#fff;
}
.header-image .menu li {
	display: block;
}

.blog-feed-entry-thumb {
	display: inline-block;
	max-width: 30%;
	float: left;
	width: 100%;
	position:relative;
	align-items: stretch;
}
.blog-feed-thumbnail-entry-content {
	display: inline-block;
	float: left;
	max-width: 70%;
	width: 100%;
	align-items: stretch;
	padding-left:25px;
}
div#top-search {
	display:none !important;
}
.blog-feed-entry-content {
	display: inline-block;
	float: left;
	width: 100%;
}

.entry-more {
	display:inline;
}
.blog-feed-post-wrapper {
	display: flex;
	float:left;
	width:100%;
}
.post-thumbnail {
	position: absolute;
	top: 0;
	bottom: 0;
	height: 100%;
	min-height: 100%;
	left: 0;
	right: 0;
	width: 100%;
	background-position: center;
	background-size: cover;
}

.blog-feed-thumbnail-entry-content h2.entry-title {
	margin:0 0 5px 0;
}
.blog-feed-meta {
	display: inline-block;
	float: left;
	width: 100%;
	margin-bottom: 6px;
}
.blog-feed-post-wrapper h2 {
	font-size: 24px;
	letter-spacing: 0px;
	line-height: 140%;
	font-weight: 600;
}
/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/
@media (max-width: 1100px) {
	.container{
		width: 95%;
		margin: 0 auto;
	}
	main#main{
		width: 69.23077%;
	}
	aside.sidebar{
		width: 25.96154%;
	}
}

@media (max-width: 991px) {
	.header-content {
		width:100%;
		max-width:100%;
		text-align:center;
	}
	.header-image {
		margin-top:20px;
		width:100%;
		max-width:100%;
		text-align:center;
	}

	h2.entry-title, h1.entry-title {
		font-size: 25px;
		letter-spacing: 1px;
	}
	#footer-social a {
		font-size: 10px;
		margin: 0 15px;
	}
	#instagram-footer .null-instagram-feed .clear > a {
		padding: 5px 25px;
		top: 65%;
	}
	.sidebar .instagram-pics li {
		width: 29%;
		margin: 0 0 8px 8px;
	}
	.container{
		width: 95%;
		margin: 0 auto;
	}
	main#main{
		width: 69.23077%;
	}
	aside.sidebar{
		width: 25.96154%;
	}

	.entry-content {
		margin-top: 0;
	}
}

@media (max-width: 768px) {
	.noheader-margins {
		display:none;
		height:0;
	}
	.blog-feed-category {
		width: 100%;
		text-align: center;
		display: inline-block;
	}

	.blog-feed-post-wrapper {
		display:inline-block;
	}
	.blog-feed-entry-thumb {
		max-width:100%;
		min-height:150px;
	}
	.blog-feed-thumbnail-entry-content,  
	.blog-feed-entry-content{
		max-width:100%;
		padding-left:0px;
	}
	.blog-feed-entry-thumb {
		margin-bottom: 12px;
	}
	.blog-feed-meta {
		text-align: center;
	}
	.blog-feed-thumbnail-entry-content h2,  .blog-feed-entry-content h2{
		text-align:center;
	}
	.header-container {
		margin-top:0px;
	}
	.footer-widget-single {
		max-width:100%;
		max-width:100%;
	}
	.footer-widget-middle {
		margin: 0px 0% 25px 0%;
	}
	p.comment-form-author, p.comment-form-email, p.comment-form-url {
		width: 100%;
		margin-bottom:20px;
	}
	nav#site-navigation {
		position:relative;
	}
	.comment-content {
		padding-left: 50px;
	}
	.comments-title {
		font-size:22px;
	}
	#comments ol.children {
		margin-left: 10px;
	}
	.top-widget-single {
		width:100%;
		max-width:100%;
	}
	.container{
		width: 90%;
		margin: 0 auto;
	}
	.site-title {
		font-size: 30px;
	}
	p.site-description {
		font-size: 16px;
	}
	.header-button {
		font-size: 14px;
	}
	main#main{
		width: 95%;
		margin:0 auto;
		float: none;
	}
	aside.sidebar{
		width: 95%;
		margin: 0 auto;
		float: none;
	}
	#top-search{
		position: absolute;
		top: 0;
		right: 0;
	}

	h1.site-title {
		font-size: 42px;
	}
	.entry-meta {
		margin-bottom: 15px;
	}
	.entry-content {
		margin-top: 0;
	}
	button.menu-toggle{
		height: 46px;
		background: transparent;
		border: none;
	}
	.pagebuilderly-logo img{
		max-width: 80%;
	}
	.main-navigation li{
		float: none;
	}
	.menu li{
		display: block;
		width: 100%;
		background: #302f37;
		padding: 0 15px;
	}
	#site-navigation .menu .sub-menu, #site-navigation .menu .children {
		display: block;
		position: relative;
		top: 0px;
		bottom: 0;
	}
	#site-navigation .menu .sub-menu ul, #site-navigation .menu .children ul{
		top: 0;
		left: 0;
	}
	#site-navigation ul.menu ul a, #site-navigation .menu ul ul a{
		border: none;
	}
	.menu .sub-menu, .menu .children {
		position: relative;
		margin-top: 0px;
		top: 0;
		border: none;
	}
	.main-navigation ul ul{
		float: none;
	}
	.menu .sub-menu li, .menu .children li{
		border: none;
	}
	.menu li a {
		line-height: 35px;
	}
	.menu .sub-menu li a, .menu .children li a{
		padding: 0;
		line-height: 30px;
	}
	h1.page-title {
		font-size: 18px;
		letter-spacing: 1px;
	}
	#top-social a {
		margin-left: 8px;
		font-size: 12px;
	}
	#instagram-footer .instagram-pics li {
		width: 25%;
		padding: 0;
		margin: 0;
	}
}
@media (max-width: 600px) {
	nav.navigation.post-navigation .nav-previous, .post-navigation .nav-next {
		width: 100%;
		text-align: center !important;
		max-width: 100%;
		margin: 15px 0;
	}
	.nav-previous a, .nav-next a {
		font-size:15px;
	}
	.button-container {
		display: block;
	}
	p.site-description br {
		display:none;
	}
}
@media (max-width: 480px) {
	.container{
		width: 95%;
	}
	main#main{
		width: 95%;
		margin:0 auto;
		float: none;
	}
	aside.sidebar{
		width: 95%;
		margin: 0 auto;
		float: none;
	}
	#top-search{
		position: absolute;
		top: 0;
		right: 0;
	}

	h1.site-title {
		font-size: 42px;
	}

	.entry-meta {
		margin-bottom: 15px;
	}
	.entry-content {
		margin-top: 0;
	}
	button.menu-toggle{
		height: 46px;
		background: transparent;
		border: none;
	}
	.pagebuilderly-logo img{
		max-width: 80%;
	}
	.main-navigation li{
		float: none;
	}
	.menu li{
		display: block;
		width: 100%;
		background: #302f37;
		padding: 0 15px;
	}
	#site-navigation .menu .sub-menu, #site-navigation .menu .children {
		display: block;
		position: relative;
		top: 0px;
		bottom: 0;
	}
	#site-navigation .menu .sub-menu ul, #site-navigation .menu .children ul{
		top: 0;
		left: 0;
	}
	#site-navigation ul.menu ul a, #site-navigation .menu ul ul a{
		border: none;
	}
	.menu .sub-menu, .menu .children {
		position: relative;
		margin-top: 0px;
		top: 0;
		border: none;
	}
	.main-navigation ul ul{
		float: none;
	}
	.menu .sub-menu li, .menu .children li{
		border: none;
	}
	.menu li a {
		line-height: 35px;
	}
	.menu .sub-menu li a, .menu .children li a{
		padding: 0;
		line-height: 30px;
	}
	h1.page-title {
		font-size: 18px;
		letter-spacing: 1px;
	}
	#top-social a {
		margin-left: 8px;
		font-size: 12px;
	}
	#instagram-footer .instagram-pics li {
		width: 25%;
		padding: 0;
		margin: 0;
	}
}
.single-post .nav-previous a:before {
	content: 'Previous Post';
	display: block;
	font-size: 12px;
	color: #737373;
	font-weight: 400;
}
.single-post .nav-next a:before {
	content: 'Next Post';
	display: block;
	font-size: 12px;
	color: #737373;
	font-weight: 400;
}
.header-no-widget .header-content{
	max-width:100%;
	text-align:center;
}
figure { padding: 10px; margin:0px; }
.entry-content ul { list-style:circle } .entry-content ol { list-style:decimal; }
li.comment .reply a { color: #333; }
.screen-reader-text { display:none !important; }
 nav#site-navigation { height: auto; } .header-container { padding: 80px 0; }


 .footer-widgets .wp-block-social-links * { font-size: 25px; }